<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>QUANTANT_CONTROL_PLANE_URL</key>
	<string>$(QUANTANT_CONTROL_PLANE_URL)</string>
	<key>QUANTANT_WEBSOCKET_URL</key>
	<string>$(QUANTANT_WEBSOCKET_URL)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.552879969274-473i5iqk6si07872av0uib11ko4kdcro</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Fonts/Roboto-Black.ttf</string>
		<string>Fonts/Roboto-ExtraBold.ttf</string>
		<string>Fonts/Roboto-Bold.ttf</string>
		<string>Fonts/Roboto-SemiBold.ttf</string>
		<string>Fonts/Roboto-Medium.ttf</string>
		<string>Fonts/Roboto-Regular.ttf</string>
		<string>Fonts/Roboto-Light.ttf</string>
		<string>Fonts/Roboto-Thin.ttf</string>
		<string>Fonts/Roboto-ExtraLight.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array/>
</dict>
</plist>
