# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# SPM
.build/
Package.resolved

# CocoaPods
Pods/

# macOS
.DS_Store
*.swp
